@model SelfControlDiary.Models.Student
@{
    ViewData["Title"] = "Сдачи нормативов";
}

<h2>Список сдач нормативов студента @Model.LastName @Model.FirstName</h2>

<table class="table">
    <tr><th>Дата замера</th><th>Семестр</th><th></th><th></th><th></th></tr>
    @foreach (var item in Model.StandardsControls)
    {
        <tr>
            <td>@item.Date.ToString("dd.MM.yyyy")</td>
            <td>@item.Semestr</td>
            <td>
                <form asp-action="DeleteStandardControl" asp-route-id="@item.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditStandardControl" asp-route-id="@item.Id">Изменить</a>
                    <a class="btn btn-sm btn-primary" asp-action="ShowStandardControl" asp-route-id="@item.Id">Посмотреть</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>

        </tr>
    }
</table>

<a asp-action="CreateStandardsControl" asp-route-id="@Model.Id">Добавить новую запись</a> <br />
<!--<a asp-controller="Students" asp-action="IndividualCompare" asp-route-id="@Model.Id">Сравнить замеры</a>-->